.red{
	color:red;
}
.white{
	color:white;
}

.center{
	text-align:center;
}
#main{
	border:5px solid red;
	margin:5em;
	padding:5em;
	background:#fefefe;
}
body{
	background:black;
}
.login_form{
	background:red;
	color:black;
	border:3px solid red;
}
.float_right{
	float:right;
}